body{
    background-color: green;
    
}
h1{
    color: red;
    font-size: 24px;
}
hr{
    color: green;
    height: 10 px;
    width: 25%;
}
p, hr{
    font-family: 'Poppins', sans-serif;
    text-indent: 20px;
}

#toptext{
    position: absolute; top: 50px; left: 700px;
    background color: azure;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
}
