body{
    background-color: #fc9c6f;
    background-image: url("graphics/bgfinal.png");
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #4956b8;
    margin: 25px;
    font-size: 30px;
}

h2{
    color: #4956b8;
    font-size: 24px;
}

hr{
    color: green;
    height: 10 px;
    width: 25%;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 30px;
}

a{
    color: #4956b8;
}

img{
    border-style: solid;
    border-width: 10px; 
    border-color: #94a0ff;
    position: absolute;
}

#toptext{
    position: absolute; top: 50px; left: 800px;
    background-color: pink;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: lightgreen;
}

#title{
    font-size: 80px;
    color: #4956b8;
    position: absolute;
    top: 50px;
    left: 25px;
}

#hd1{
    left:30px;
}

#hd2{
    left:165px;
}

#hd3{
    left:334px;
}

#hd4{
    left:462px;
}

#hd5{
    left:590px;
}

#hd6{
    left:705px;
}

#feat{
    position:absolute;
    top:250px;
    left:40px;
}

#blurb1{
    position:absolute;
    top:300px;
    left:50px;
}

#blurb2{
    position:absolute;
    top:650px;
    left:700px;
}

#blurb3{
    position:absolute;
    top:1050px;
    left:50px;
}

#yarn img{
    width:450px;
    height:300px;
    position:absolute;
    left:760px;
    top:275px;
}

#knit img{
    width:450px;
    height:340px;
    position:absolute;
    left:50px;
    top:650px;
}

#pat img{
    width:310px;
    height:400px;
    position:absolute;
    left:820px;
    top:1030px;
}

.head-category{
    position: absolute;
    top: 175px;
    background-color: #ff7057;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-size: 22px;
    padding: 10px;
}
