body{
    background-color: #fc9c6f;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: red;
    font-size: 24px;
}
hr{
    color: green;
    height: 10 px;
    width: 25%;
}
p, hr{
    font-family: 'Poppins', sans-serif;
    text-indent: 20px;
}

a{
    color: #fc9c6f;
}

#toptext{
    position: absolute; top: 50px; left: 700px;
    background-color: red;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
}

#title{
    font-size: 80px;
    color: #4956b8;
    position: absolute;
    top: 50px;
}

.head-category{
    position: absolute;
    top: 300px;
    background-color: #ff7057;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    font-size: 30px;
}
